#-----------------------------------------------------------------------------
#   .gitignore			- libdl-sh git(1) exclude patterns
#
#   Copyright © 2013-2021 Das Computerlabor (DCl-M)
#
#   This library is free software; you can redistribute it and/or
#   modify it under the terms of the GNU Lesser General Public License
#   as published by the Free Software Foundation; either
#   version 2.1 of the License, or (at your option) any later version.
#
#   This library is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#   Lesser General Public License for more details.
#
#   You should have received a copy of the GNU Lesser General Public License
#   along with this library; if not, write to the Free Software Founda-
#   tion, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#
#   AUTHOR(S):	ks	Karl Schmitz <ks@computerlabor.org>
#
#   WRITTEN BY:	ks	2013-02-12
#   CHANGED BY:	ks	2018-03-11	Import prebuilt autofinish scripts.
#		ks	2020-05-12	Import changelog generator.
#		ks	2020-05-16	Move `conf.awk' and `args.awk' to lib-
#					exec/.
#		ks	2020-05-27	Add universal interpreter.
#		ks	2021-04-21	Ignore temporary stuff.
#		ks	2021-04-23	Rename `test-deb-version' to `vers-
#					cmp'.
#		ks	2021-04-28	Import GNU Autotest-based test suite.
#		ks	2021-05-03	Move complete test suite to tests/.
#		ks	2021-05-17	Add sample library.
#		ks	2021-05-31	Add API analysis script with frontend.
#
#   NOTE:   (1)	Exclude patterns for tools beyond the actual build tools have
#		been left out intentionally! Such patterns are better kept in
#		a global exclude pattern file. See the GIT documentation for
#		further information about this topic.
#-----------------------------------------------------------------------------
#   Temporary stuff:
#-----------------------------------------------------------------------------
/tmp/

#-----------------------------------------------------------------------------
#   autoreconf(1) results:
#-----------------------------------------------------------------------------
/aclocal.m4
/autom4te.cache/
/configure
/auto/install-sh
/auto/missing
Makefile.in

#-----------------------------------------------------------------------------
#   configure(1) results:
#-----------------------------------------------------------------------------
/config.*
/tests/atconfig
Makefile

#-----------------------------------------------------------------------------
#   make(1) results:
#-----------------------------------------------------------------------------
/bin/genchangelog
/bin/libdl-sh
/bin/shebang
/bin/verscmp
/doc/libEXAMPLE.sh
/doc/*.[15]
/doc/lib*.3sh
/etc/*.conf
/lib/*.sh
/libexec/*.awk
/tests/api-analysis
/tests/api-analysis.awk
/tests/atlocal
/tests/package.m4
/tests/testsuite

#-----------------------------------------------------------------------------
#   testsuite(1) results:
#-----------------------------------------------------------------------------
/tests/*.dir/
/tests/*.log

